<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>iniciarUsuario</servlet-name>
        <servlet-class>Controladores.iniciarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvProducto</servlet-name>
        <servlet-class>Controladores.srvProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Images</servlet-name>
        <servlet-class>Controladores.Images</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerImg</servlet-name>
        <servlet-class>Controladores.ControllerImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCarrito</servlet-name>
        <servlet-class>Controladores.ControllerCarrito</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>iniciarUsuario</servlet-name>
        <url-pattern>/iniciarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvProducto</servlet-name>
        <url-pattern>/srvProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Images</servlet-name>
        <url-pattern>/Images</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerImg</servlet-name>
        <url-pattern>/ControllerImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCarrito</servlet-name>
        <url-pattern>/ControllerCarrito</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
